main {
  min-height: 80vh;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
  
}

.rating span{
  margin: 0.1rem;
}

#product-description {
  
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow:hidden;
}

#home-name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow:hidden;
}